<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>文章分類</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <div class="nav">
    <h1>歡迎使用短文本分類預測</h1>
  </div>

  <div class="container">
    <label for="title" class="bold-label">輸入一篇文章的標題</label><br>
    <input type="text" id="title" placeholder="輸入文章標題..." size="80">
    <button id="predictBtn">預測分類</button>
    <div id="result"></div>
  </div>

  <script src="/static/index.js"></script>
</body>
</html>
